.chatsContainer {
  width: 30vw;
  min-width: 300px;
  background-color: #111b21;
  color: #d9dee0;
  min-height: 100vh;
  overflow-y: scroll;
  border-right: 1px solid #3b4f5c;
}

.header {
  background-color: #202c33;
  height: 7rem;
}

.headerInfo {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 3rem;
}

.body {
  padding: 2rem;
}

.editInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  margin-right: 1rem;
  color: #fff;
  background-color: transparent;
  border: 1.5px solid #3b4f5c;
  border-radius: 5px;
}

.input:focus {
  outline: none;
}

.btn {
  background-color: #04a784;
  color: #ffffff;
  border: none;
  width: 100% !important;
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 5px;
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  cursor: pointer;
  background-color: #02b38d;
}
