.container{
    background-color: #202C33;
    padding: 2rem;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    border-radius: 10px;
}

.wrapper a{
    cursor: pointer;
}

.wrapper a:hover{
    text-decoration: underline 1px #fff;
}

.wrapper h1{
    margin-top: -0.5rem;
}

.wrapper h3{
    font-weight: 400;
}

.wrapper input{
    background-color: transparent;
    border: none;
    flex: 1;
    outline: none;
    color: #FFFFFF;
    padding-top: 0.2rem;
    font-size: 1rem;
}

.wrapper input::placeholder{
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 1rem;
}

.wrapper input:focus{
    border: none;
    border-color: none;

}

.inputBox{
    background-color: #2A3942;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 10px;
}

.button{
    background-color: #04A784;
    color: #FFFFFF;
    border: none;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 10px;
}

.button:hover{
    cursor: pointer;
    background-color: #02b38d;
}

@media(max-width:1000px) {
    .container{
        width: 50%;
    }
}

@media(max-width:750px) {
    .container{
        width: 70%;
    }
}

@media(max-width:550px) {
    .container{
        width: 80%;
    }
}