.container {
  background-color: #202c33;
  padding: 2rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  border-radius: 10px;
}

.wrapper a {
  cursor: pointer;
}

.wrapper a:hover {
  text-decoration: underline 1px #fff;
}

.wrapper h1 {
  margin-top: -0.5rem;
}

.wrapper h3 {
  font-weight: 400;
}

.wrapper input {
  background-color: #2a3942;
  border: none;
  flex: 1;
  outline: none;
  color: #ffffff;
  padding-top: 0.2rem;
  font-size: 1rem;
}

.wrapper input::placeholder {
  color: #ffffff;
  background-color: #2a3942;
  opacity: 0.5;
  font-size: 1rem;
}

.wrapper input:focus {
  border: none;
  border-color: none;
  background-color: #2a3942;
}

.inputBox {
  background-color: #2a3942;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  border-radius: 10px;
}

.button {
  background-color: #04a784;
  color: #ffffff;
  border: none;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 10px;
}

.button h3 {
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
  background-color: #02b38d;
}

@media (max-width: 1000px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 550px) {
  .container {
    width: 80%;
  }
}
