.container {
  width: 30vw;
  min-width: 300px;
  height: 100%;
  position: relative;
}
.header {
  padding: 0.5rem;
  background-color: #202c33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2a3942;
  position: absolute;
  z-index: 100;
  width: 30vw;
  min-width: 300px;
}

.chatsContainer {
  width: 30vw;
  min-width: 300px;
  background-color: #111b21;
  color: #aebac1;
  max-height: 100vh;
  overflow-y: scroll;
}

.component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.7rem;
  border-bottom: 1px solid #2a3942;
  cursor: pointer;
}
.component:hover {
  background-color: #2a3942;
  transition: all 0.1s;
}

.nameFlex {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.name {
  font-size: 0.9rem;
  color: #fff;
  text-align: left;
  margin: 0;
  margin-bottom: 2px;
}

.message {
  color: #aebac1;
  margin: 0;
  text-align: left;
  font-size: 0.8rem;
}

.timeFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.time {
  color: #04a784;
  margin: 0;
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.unread {
  background-color: #04a784;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 0;
}

/* width */
.chatsContainer::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.chatsContainer::-webkit-scrollbar-track {
  background: #111b21;
}

/* Handle */
.chatsContainer::-webkit-scrollbar-thumb {
  background: #2a3942;
}

/* Handle on hover */
.chatsContainer::-webkit-scrollbar-thumb:hover {
  background: #2a3942;
}
