.container {
  width: 30vw;
  height: 100%;
  overflow-y: scroll;
}
.header {
  padding: 0.5rem;
  background-color: #202c33;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #2a3942;
}

.chatsContainer {
  width: 100%;
  max-width: 30vw;
  background-color: #111b21;
  color: #aebac1;
}

.component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.7rem;
  border-bottom: 1px solid #2a3942;
  cursor: pointer;
}
.component:hover {
  background-color: #2a3942;
  transition: all 0.1s;
}

.nameFlex {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  text-align: left;
  margin: 0;
  margin-bottom: 2px;
}

.message {
  color: #aebac1;
  margin: 0;
  text-align: left;
}

.timeFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.time {
  color: #04a784;
  margin: 0;
  margin-bottom: 2px;
}

.unread {
  background-color: #04a784;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0;
}
