.component {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.4rem;
    border-bottom: 1px solid #2a3942;
    cursor: pointer;
  }

  
  .component:hover {
    background-color: #2a3942;
    transition: all 0.1s;
  }