.container {
  padding-left: 1rem;
  background-color: #202c33;
  display: flex;
  align-items: center;
  height: 4rem;
  position: absolute;
  z-index: 100;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container h1 {
  font-size: 1rem;
}

.ChatViewContainer {
  background-image: url("/assets/ChatBackground.png");
  height: 100vh;
  width: 70vw;
  z-index: 100;
}
