.container {
  padding-left: 1rem;
  background-color: #202c33;
  display: flex;
  align-items: center;
  height: 4rem;
  position: absolute;
  z-index: 100;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container h1 {
  font-size: 1rem;
}

.ChatViewContainer {
  background-image: url("/assets/ChatBackground.png");
  min-height: 100vh;
  overflow-y: scroll;
  width: 70vw;
  z-index: 100;
}

.messageContainer {
  padding-left: 1rem;
  background-color: #202c33;
  display: flex;
  align-items: center;
  height: 4rem;
  position: absolute;
  z-index: 100;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
}

.textMessage {
  flex: 1;
  border: none;
  border-radius: 10px;
  color: #fff;
  outline: none;
  padding: 0.8rem;
  background-color: #2a3942;
}

.textMessage::placeholder {
  color: #fff;
  opacity: 0.7;
  font-size: 0.9rem;
}
