@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "sans-serif";
  background-color: #111b21;
  color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #111b21 !important;
  color: #fff !important;
}
