.container {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.06) -136.14%,
      rgba(0, 0, 0, 0.46) -36.15%
    ),
    url("/assets/MainBackground.jpeg");

  height: 100vh;
}

.storyContainer {
  width: 30vw;
  min-width: 300px;
  background-color: #1E262B;
  color: #aebac1;
  max-height: 100vh;
  overflow-y: scroll;
  border-right: 1px solid #3b4f5c;
}

.storyHeader {

}
